
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*Main Section Styles*/
body {
    position: relative;
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;

    /* Light Mode */
    --main-txt-light: white;
    --main-txt-color: #4E5340;
    --sub-txt-color: #697268;

    --main-bg-color: #B7D1DA;
    --sub-bg-color: #E2E8DD;

    --alt-light-color: #95A3A4;
    --sub-bg-opaque: rgba(149, 163, 164, 0.65);
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 5rem;
    margin: 2rem 2rem;
}

#color-toggle {
    margin-left: 1rem;
}

#weather-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}



#weather-display {
    position: relative;
    background-color: var(--sub-bg-color);
    border-radius: .5rem;
    box-shadow: 0 2px 5px var(--main-bg-color);
    padding: 2rem;
    height: 300px;
    overflow: hidden;
    
    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(10,1fr);
}

/*Search Bar Styles*/

#form {
    position: relative;
    top: 0;
    left:0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#form input {
    background-color: var(--sub-bg-opaque);
    color: var(--main-txt-light);
    padding: .3rem .3rem .3rem 3rem;
    height: 3rem;
    width: 20vw;
    min-width: 20rem;
    border: none;
    border-radius: .5rem;

    font-family: inherit;
    font-size: 1.5rem;
}

#form button {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    position: absolute;
    border: none;
    background-image: url(./images/search-icon.png);
    background-size: contain;

}

#input-error {
    color: red;
    font-size: 1.2rem;
    position: absolute;
    top: 3rem;
    left: 1rem;
}

#form button:hover {
    cursor: pointer;
}

#form input:focus-visible {
    outline: none;
}

#form input::placeholder {
    color: var(--main-txt-light)
}



/*Weather Display Content Styles*/
#city {
    grid-area: 1/1/4/9 ;
    padding: 0 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-wrap: break-word;
}

#city p {
    font-size: 2.5rem;
    color: var(--main-txt-color);
}

#weather {
    grid-area: 3/1/5/8 ;
    padding: 0 0 0 3rem;

}

#weather p {
    font-size: 1.75rem;
    color: var(--sub-txt-color);
}

#weather-img {
    grid-area: 1/8/5/11 ;
    display: flex;
    justify-content: center;
}

#temp-now {
    grid-area: 5/1/10/7 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp-now p {
    font-size: 9rem;
    font-family: 'Montserrat', sans-serif; 
    color: var(--main-txt-color);

}

#units {
    grid-area: 5/7/8/8 ;
    display: flex;
    justify-content: start;
    align-items: center;
}

#units p {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif; 
    color: var(--sub-txt-color);
}

#unit-switch {
    grid-area: 10/1/11/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-info {
    grid-area: 5/8/11/11 ;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    /* margin-left: 1rem; */
    justify-content: center;
}

#sub-info p {
    font-size: 1.25rem;
    color: var(--sub-txt-color);
    padding-left: 1rem;
}

#unit-toggle {
    border: none;
    background-color: var(--alt-light-color);
    border-radius: .5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--sub-bg-color);
}

#unit-toggle:hover {
    /* border: 1px solid var(--sub-dark-color); */
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    cursor: pointer;
}

#unit-toggle:active {
    border: 1px solid var(--main-txt-color);
}


/*Darkmode Toggle Styles*/

.dark-mode {
    /* Dark Mode */
    --main-txt-light: white;
    --main-txt-color: #F5CB5C;
    --sub-txt-color: #E8EDDF;

    --main-bg-color: #16425B;
    --sub-bg-color: #333533;

    --alt-light-color: #95A3A4;
    --sub-bg-opaque: rgba(149, 163, 164, 0.65);
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
.label {
    width: 3rem;
    height: 1.5rem;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    margin-left: 1.5rem;
}
  
.ball {
    width: 1rem;
    height: 1rem;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(1.5rem);
}
  






